<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.material.tblagodarova.design">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/Theme.DesignAppTheme"
            android:name=".ui.ApplicationClass">
        <activity
                android:name=".ui.HomeActivity"
                android:label="@string/app_name"
                android:theme="@style/Theme.NoActionBarTheme"
               >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="fde999be492fea9e48272e48cf24ccb1afdbaea5" />
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
